.product {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(232, 219, 219, 0.5);
  text-align: center;
}
.product img {
  width: 200px;
  height: 100px;
}
.product button {
    background-color: var(--primary-color);
}
