.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(232, 219, 219, 0.5);
  text-align: center;
  padding: 20px 10px;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.product img {
  width: 200px;
  height: 100px;
  mix-blend-mode: darken;
}
.product button {
  background-color: var(--primary-color);
}
.description {
  max-width: 200px;
}
