.footer-content {
  width: 100%;
  background-color: rgb(245, 246, 248);
  border-top: 1px solid rgb(206, 198, 198);
}

.list-container {
  display: grid;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* gap: 100px; */
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40px;
  gap: 25px;
}

.list {
  margin-top: 20px;
}
.list a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
}

.socials a {
  text-decoration: none;
  font-size: 35px;
  color: var(--primary-color);
}
.socials p {
  color: rgb(102, 102, 102);
}

.rights {
  padding-left: 40px;
  color: rgb(102, 102, 102);
}

@media (max-width: 768px) {
  .list-container {
    margin-left: 20px;
  }
  .socials {
    padding-left: 20px;
  }
  .rights {
    padding-left: 20px;
  }
}
